@model AppSistemaReservasRestaurente.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<div class="custom-panel-clientes small-panel">
    <h2 class="text-light text-center">🗑️ Eliminar Cliente</h2>
    <hr />
    <dl class="row text-light">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre_Cliente</dd>

        <dt class="col-sm-3">Teléfono</dt>
        <dd class="col-sm-9">@Model.Telefono</dd>

        <dt class="col-sm-3">DNI</dt>
        <dd class="col-sm-9">@Model.DNI</dd>

        <dt class="col-sm-3">Usuario</dt>
        <dd class="col-sm-9">@Model.Usuario?.Id</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Cliente" />
        <button type="submit" class="btn btn-danger">Confirmar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
