@model AppSistemaReservasRestaurente.Models.Horario

@{
    ViewData["Title"] = "Eliminar Horario";
}

<div class="gestion-panel">
    <h2 class="custom-title text-light">Eliminar Horario</h2>

    
        <h4 class="text-white text-center mb-3">¿Estás seguro de eliminar este horario?</h4>
        <hr />
        <dl class="row text-white-50">
            <dt class="col-sm-3 text-white">Hora de Inicio</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Hora_Inicio)</dd>

            <dt class="col-sm-3 text-white">Hora Final</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Hora_Final)</dd>
        </dl>

        <form asp-action="Delete" class="mt-4 text-center">
            <input type="hidden" asp-for="ID_Horario" />
            <input type="submit" value="Eliminar" class="btn btn-danger btn-lg" /> |
            <a asp-action="Index2" class="btn btn-secondary btn-lg">Volver a la Lista</a>
        </form>
   
</div>
