@model AppSistemaReservasRestaurente.Models.Mesa

@{
    ViewData["Title"] = "Detalles Mesa";
}

<div class="custom-panel-mesas small-panel">
    <h2 class="text-light text-center">🔍 Detalles de Mesa</h2>
    <hr />
    <dl class="row text-light">
        <dt class="col-sm-2">Capacidad</dt>
        <dd class="col-sm-10">@Model.Capacidad</dd>
        <dt class="col-sm-2">Zona</dt>
        <dd class="col-sm-10">@Model.Zona</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.ID_Mesa" class="btn btn-warning">✏️ Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
