@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Cree una nueva cuenta</h4>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Nombre Completo -->
            <div class="form-group">
                <label asp-for="Input.Nombre" class="control-label"></label>
                <input asp-for="Input.Nombre" class="form-control" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>

            <!-- DNI -->
            <div class="form-group">
                <label asp-for="Input.DNI" class="control-label"></label>
                <input asp-for="Input.DNI" class="form-control" />
                <span asp-validation-for="Input.DNI" class="text-danger"></span>
            </div>

            <!-- Teléfono -->
            <div class="form-group">
                <label asp-for="Input.Telefono" class="control-label"></label>
                <input asp-for="Input.Telefono" class="form-control" />
                <span asp-validation-for="Input.Telefono" class="text-danger"></span>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
