@model AppSistemaReservasRestaurente.Models.Reserva

@{
    ViewData["Title"] = "Editar Reserva";
}

<div class="gestion-panel text-light">
    <h2 class="custom-title ">Editar Reserva</h2>

    <form asp-action="Edit" class="formulario-contenedor mx-auto" style="max-width:600px;">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <input type="hidden" asp-for="ID_Reserva" />

        <div class="mb-3">
            <label asp-for="ID_Cliente" class="form-label-custom"></label>
            <select asp-for="ID_Cliente" class="form-control input-custom" asp-items="ViewBag.ID_Cliente"></select>
            <span asp-validation-for="ID_Cliente" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ID_Mesa" class="form-label-custom"></label>
            <select asp-for="ID_Mesa" class="form-control input-custom" asp-items="ViewBag.ID_Mesa"></select>
            <span asp-validation-for="ID_Mesa" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ID_Horario" class="form-label-custom"></label>
            <select asp-for="ID_Horario" class="form-control input-custom" asp-items="ViewBag.ID_Horario"></select>
            <span asp-validation-for="ID_Horario" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Fecha" class="form-label-custom"></label>
            <input asp-for="Fecha" class="form-control input-custom" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Cantidad_Personas" class="form-label-custom"></label>
            <input asp-for="Cantidad_Personas" class="form-control input-custom" />
            <span asp-validation-for="Cantidad_Personas" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Estado" class="form-label-custom"></label>
            <input asp-for="Estado" class="form-control input-custom" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="text-center">
            <input type="submit" value="Guardar Cambios" class="btn btn-success me-2" />
            <a asp-action="Index" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
